@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --index: (1vw+1vh);
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.button-container {
  display: flex;
  gap: 2rem;
}

.button-container button {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.button-container.open button {
  opacity: 1;
  transform: translateX(0);
}

.displaynone {
  display: none;
}
